.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
  padding-bottom: 20px;
  padding-top: 20px;;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title0 {
  font-size:45px;
  font-weight: bold;
  color: navy;
  margin: 5px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title1 {
  font-size:20px;
  font-weight: 600;
  color: black;
  margin: 2px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title2 {
  font-size:26px;
  font-weight: 400;
  color: gray;
  margin: 2px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}