.heroview {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.herocontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.intro {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: navy; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hook {
  font-size: 44px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  max-width: 600px;
  color: grey; 
  margin: 0px;
  padding: 0px;
  line-height: 1.4;
}
.hook1 {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  max-width: 600px;
  color: grey; 
  margin: 10px;
  line-height:1.4;
}

.hook2 {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  max-width: 600px;
  color: grey; 
  margin: 0px;
  line-height: 1.4;
}

.span1 {
  
  background-color: navy;   /* blue background */
  color: white;
  padding: 10px 22px;           /* needed to see shape */
  border-radius: 50px;         /* rounded corners */
  display: inline-block;       /* required */

}
.span2 {
 background-color: navy;   /* blue background */
  color: white;
  padding: 3px 22px;           /* needed to see shape */
  border-radius: 50px;         /* rounded corners */
  display: inline-block;     
}







.getstartedbtn {
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 18px;
  color: #4E1F8C;
  background-color: white;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
.btntxt {
  font-weight: bold;
}

/* 
linear-gradient(to bottom,#4E1F8C, #A36FF3)

*/