.slider-container {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #000080;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider-track {
  display: flex;
  width: max-content;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider-image {

  height: 500px;
  object-fit: cover;
  margin-right: 30px;
 box-shadow: 
  0 0 10px rgba(255, 255, 255, 0.8);

}
